@media screen and (min-width:1200px) {
   
    .container {
        max-width: 1158px;
    }


/*======================ACTIVITY========================*/
    .activity {
        display: flex;
        padding-bottom: 120px;
    }
    
    .activity-title {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        margin-bottom: 72px;
    }
    
    .activity-list {
        display: flex;
        gap: 24px;
    }
    
    .activity-item {
        width: calc(100%-48px)/3;
    }
/*======================TEAM========================*/

    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }


}