@media screen and (min-width:480px) {
    .container {
        max-width: 426px;
    }

    .footer-container {
        max-width: 426px;
    }

/*======================ORDER========================*/

    .order {
        max-width: unset;
        min-width: 428px;
    }

/*======================BACKDROP========================*/

    .modal {
        width: 392px;
    }

    .modal-input {
        width: 360px;
    }
}