@media screen and (min-width:480px) {
    .container {
        max-width: 426px;
    }

    .footer-container {
        max-width: 426px;
    }

    .page-2-container {
        max-width: 396px;
    }

/*======================HEADER========================*/

    .mob-menu-tel {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
    }

    .mob-menu-soc-list {
        gap: 56px;
    }

/*======================ORDER========================*/

    .order {
        max-width: unset;
        min-width: 428px;
    }

/*======================BACKDROP========================*/

    .modal {
        width: 392px;
    }

    .modal-input {
        width: 360px;
    }

    .mob-container {
        width: unset;
        max-width: 428px;
    }
}