@media screen and (min-width:768px) {

    .container {
        max-width: 766px;
    }

    .footer-container {
        max-width: 552px;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        align-items: unset;
    }

 /*======================ORDER========================*/

    .order {
        padding-top: 112px;
        padding-bottom: 108px;
    }

    .order-title {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 40px;
    }

/*======================FEATURES========================*/

    .features-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }

    .features-subtitle {
        text-align: unset;
    }

    .features-description {
        max-width: 356px;
    }

/*======================TEAM========================*/
    .team {
        padding-top: 96px;
        padding-bottom: 104px;
    }
    
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 64px;
        column-gap: 24px;
    }

/*======================CUSTOMERS========================*/

    .customers-list {
        column-gap: 24px;
    }
    .customers-item {
        width: 168px;
        height: 88px;
    }
       
/*======================FOOTER========================*/


    .footer-logo {
        justify-content: start;
    }

    .footer-description {
        max-width: 264px;
    }
    
    .footer-soc-subtitle {
        text-align: unset;
    }

    .footer-input-subtitle{
        text-align: unset;
    }
    
    .footer-input-wrap {
        flex-direction: row;
        align-items: unset;
        gap: 24px;
    }


    .footer-input {
        width: 264px;
    }


/*======================BACKDROP========================*/

    .modal {
        width: 408px;
        padding: 24px;
    }
}